<h2><%= @header %></h2>
<form action="/" method="get">
<label for="title">Title: </label>
<input type="text" name="title" id="title">
<label for="url">URL: </label>
<input type="text" name="url" id="url">	
	<button>create</button>
</form>